.pulse1,
.pulse2,
.pulse3 {
    --pz: 0.5rem;
    position: relative;
    width: var(--pz);
    height: var(--pz);
    margin-right: calc(1.5 * var(--pz));
    border-radius: 100%;
    background-color: rgba(180, 8, 233, 1);
    display: grid;
}

.pulse1 {
    animation: pulse 1s linear -0.333s infinite alternate;
}
.pulse2 {
    animation: pulse 1s linear 0s infinite alternate;
}
.pulse3 {
    animation: pulse 1s linear 0.333s infinite alternate;
}

@keyframes pulse {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.5);
    }
}
